<div id="myModal" class="modal" onclick="closeModal()">
  <a class="close cursor icon fa fa-times" onclick="closeModal()"></a>
  <div class="modal-content">

    {% assign image_files = site.static_files | where: "image", true %}
    {% for image in image_files %}
      {% assign path = "full/" | append: page.namePath %}
      {% if image.path contains path %}
        <div class="slide" onclick="closeModal()">
          <img src="{{ image.path }}" onclick="ignore(event)" class="center">
        </div>
      {% endif %}
    {% endfor %}

    <a class="prev icon fa-chevron-left" onclick="plusSlides(event, -1)"></a>
    <a class="next icon fa-chevron-right" onclick="plusSlides(event, 1)"></a>
  </div>
</div>
