<div id="header">
  <span id="menu" onclick="toggleSidebar()" class="menu icon fa-bars"></span>
  <a class="sgae" href="/">SGAE</a>
  <span id="user" onclick="toggleDropdown()" class="menu icon fa-user"></span>
</div>

<div id="sidebar" class="sidebar">
	<div class="menu-options">
		<a href="/pages/planes_de_estudio" class="option icon fa-map">Planes de Estudio</a>
		<a href="/pages/previas" class="option icon fa-eye">Previas</a>
		<a href="/pages/calendarios_e_inscripciones" class="option icon fa-calendar">Calendarios e Inscripciones</a>
		<a href="/pages/consulta_de_inscripciones" class="option icon fa-pencil-square-o">Consulta de Inscripciones</a>
	</div>
</div>

<div id="dropdownUser" class="dropdown" onclick="toggleDropdown()">
  <div class="dropdown-content">
    <span class="name">Fabian Rydel Suster</span>
    <div class="btn"><a href="/pages/datos_personales">Datos Personales</a></div>
    <div class="btn"><a href="/pages/escolaridad">Escolaridad</a></div>
    <div class="btn"><a>Salir</a></div>
  </div>
</div>
