<div id="header">
  <span id="menu" onclick="toggleSidebar()" class="menu icon fa-bars"></span>
  <a class="sgae" href="/">SGAE</a>
</div>

<div id="sidebar" class="sidebar">
	<div class="menu-options">
		<div class="option icon fa-map">Planes de Estudio</div>
		<div class="option icon fa-eye">Previas</div>
		<div class="option icon fa-calendar">Calendarios e Inscripciones</div>
		<div class="option icon fa-pencil-square-o">Consulta de Inscripciones</div>
		<div class="option icon fa-graduation-cap">Escolaridad</div>
		<div class="option icon fa-ban">Sanciones</div>
	</div>
</div>
