<div id="modalPreviaOf" class="modal" onclick="closeModal()">
  <div class="modal-content">
    <a class="close cursor icon fa fa-times" onclick="closeModal()"></a>
    <h1>Materia 1 es previa de:</h1>

    <span>Cursos: (de que cursos es previa el curso de Materia 1)</span>
    <ul>
      <li>Curso 3</li>
      <li>Curso 5</li>
      <li>Curso 6</li>
    </ul>

    <span>Exámen: (de que cursos es previa el exámen de Materia 1)</span>
    <ul>
      <li>Curso 3</li>
      <li>Curso 4</li>
      <li>Curso 5</li>
    </ul>

  </div>
</div>
