@font-face {
  font-family: "patuaOne";
  src: url("../fonts/PatuaOne.ttf");
}

@font-face {
  font-family: "satisfy";
  src: url("../fonts/Satisfy.ttf");
}

@font-face {
  font-family: "pacifico";
  src: url("../fonts/Pacifico.ttf");
}

@font-face {
  font-family: "marker";
  src: url("../fonts/PermanentMarker.ttf");
}
