#footer-header {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #1f2224;
  bottom: -1em;
  height: 3em;
  left: 0;
  line-height: 2em;
  padding: 0 24px;
  position: fixed;
  user-select: none;
  width: calc(100% - 48px);
  z-index: 5;
}

body.loading #footer-header {
  -moz-transform: translateY(4em);
  -webkit-transform: translateY(4em);
  -ms-transform: translateY(4em);
  transform: translateY(4em);
}

#footer-header h1 {
  color: #a0a0a1;
  display: inline-block;
  font-size: 14px;
  overflow: auto;
  margin: 0;
}

#footer-header h1 a {
  border: 0;
  color: inherit;
}

#footer-header h1 a:hover {
  color: inherit !important;
}

#footer-header nav {
  position: absolute;
  right: 0;
  top: 0;
}

#footer-header nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-header nav>ul>li {
  display: inline-block;
  padding: 0;
}

#footer-header nav>ul>li .about {
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.1em;
  overflow: auto;
  padding: 0 1.65em;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

#footer-header nav>ul>li .about.icon:before {
  color: #505051;
  float: right;
  margin-left: 0.75em;
}

#footer-header nav>ul>li .about:hover {
  color: #ffffff !important;
}

#footer-header nav>ul>li .about.active {
  background-color: #242629;
}

@media screen and (max-width: 736px) {
  body {
      padding: 4em 0 0 0;
  }

  #footer-header {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    bottom: auto;
    height: 4em;
    padding: 0 1em;
    top: 0;
  }

  body.loading #footer-header {
    -moz-transform: translateY(-3.4em);
    -webkit-transform: translateY(-3.4em);
    -ms-transform: translateY(-3.4em);
    transform: translateY(-3.4em);
  }

  #footer-header h1 {
    font-size: 0.9em;
  }

  #footer-header nav>ul>li a {
    font-size: 0.9em;
    padding: 0 1.15em;
  }

}

// --------------------------------------
/* footer */

.footer {
  -moz-transform: translateY(100vh);
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transform: translateY(100vh);
  -ms-transition: -ms-transform 0.5s ease;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(100vh);
  -webkit-transition: -webkit-transform 0.5s ease;
  background: rgba(36, 38, 41, 0.975);
  bottom: 2em;
  color: #a0a0a1;
  left: 0;
  max-height: calc(80vh - 4em);
  overflow-y: auto;
  padding: 32px 64px;
  position: fixed;
  transform: translateY(100vh);
  transition: transform 0.5s ease;
  width: calc(100% - 128px);
  z-index: 4;
}

.footer.active {
  -moz-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.footer>.inner {
  margin: 0 auto;
  max-width: 100%;
  width: 75em;
}

.footer>.inner.split {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.footer>.inner.split>div {
  margin-left: 4em;
  width: 50%;
}

.footer>.inner.split> :first-child {
  margin-left: 0;
}

.footer>.close {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.25;
  right: 90px;
  font-weight: 300;
  z-index: 2;
}

.footer>.close:hover {
  opacity: 1.0;
}

@media screen and (max-width: 1280px) {

  .footer {
      padding: 3em 3em 1em 3em;
  }

  .footer>.inner.split>div {
      margin-left: 3em;
  }

  .footer>.closer {
      background-size: 2.5em;
      background-position: 75% 25%;
  }

}

@media screen and (max-width: 980px) {

  .footer>.inner.split {
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .footer>.inner.split>div {
      margin-left: 0;
      width: 100%;
  }

}

@media screen and (max-width: 736px) {

  .footer {
    -moz-transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    transform: translateY(-100vh);
    padding: 4em 2em 2em 2em;
    bottom: auto;
    top: calc(4em - 1px);
  }

  .footer.active {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

footer {
  section {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  h2,
  p {
    color: #a0a0a1;
    font-weight: 300;
    letter-spacing: .025em;
    line-height: 1.65;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    color: white;
  }

  p,
  form {
    margin: 0 0 2em 0;
  }


  /* List */

  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

  ul li {
    padding-left: 0.5em;
  }

  ul.alt {
    list-style: none;
    padding-left: 0;
  }

  ul.alt li {
    border-top: solid 1px #36383c;
    padding: 0.5em 0;
  }

  ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
  }

  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }

  ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
  }

  ul.icons li:last-child {
    padding-right: 0;
  }

  ul.icons li .icon {
    color: #505051;
  }

  ul.icons li .icon:before {
    font-size: 1.5em;
  }

  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }

  ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
  }

  ul.actions li:last-child {
    padding-right: 0;
  }

  ul.actions.small li {
    padding: 0 0.5em 0 0;
  }

  ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
  }

  ul.actions.vertical li:first-child {
    padding-top: 0;
  }

  ul.actions.vertical li>* {
    margin-bottom: 0;
  }

  ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
  }

  ul.actions.vertical.small li:first-child {
    padding-top: 0;
  }

  ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
  }

  ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
  }

  ul.actions.fit li>* {
    margin-bottom: 0;
  }

  ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
  }

  ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
  }

  @media screen and (max-width: 480px) {
    ul.actions {
      margin: 0 0 2em 0;
    }

    ul.actions li {
      padding: 1em 0 0 0;
      display: block;
      text-align: center;
      width: 100%;
    }

    ul.actions li:first-child {
      padding-top: 0;
    }

    ul.actions li>* {
      width: 100%;
      margin: 0 !important;
    }

    ul.actions li>*.icon:before {
      margin-left: -2em;
    }

    ul.actions.small li {
      padding: 0.5em 0 0 0;
    }

    ul.actions.small li:first-child {
      padding-top: 0;
    }
  }

  dl {
    margin: 0 0 2em 0;
  }

  dl dt {
    display: block;
    font-weight: 300;
    margin: 0 0 1em 0;
  }

  dl dd {
    margin-left: 2em;
  }

  /* form */

  form {
    margin: 0 0 2em 0;
  }

  form .field {
    margin: 0 0 1.3em 0;
  }

  form .field.half {
    float: left;
    padding: 0 0 0 0.65em;
    width: 46%;

    &.right {
      float: right;
    }
  }

  form .field.half.first {
    padding: 0 0.65em 0 0;
  }

  form>.actions {
    margin: 1.5em 0 0 0 !important;
  }

  @media screen and (max-width: 736px) {
    form .field.half {
      float: none;
      padding: 0;
      width: 100%;
    }

    form .field.half.first {
      padding: 0;
    }
  }

  label {
    color: #ffffff;
    display: block;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 1em 0;
  }

  input,
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #34363b;
    border: 0;
    border-radius: 0;
    color: #a0a0a1;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  }

  input:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: inset 0 0 0 2px #34a58e;
  }

  input,
  select {
    height: 2.75em;
  }

  textarea {
    padding: 0.75em 1em;
  }

  input[type="checkbox"],
  input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
  }

  ::-webkit-input-placeholder {
    color: #707071 !important;
    opacity: 1.0;
  }

  :-moz-placeholder {
    color: #707071 !important;
    opacity: 1.0;
  }

  ::-moz-placeholder {
    color: #707071 !important;
    opacity: 1.0;
  }

  :-ms-input-placeholder {
    color: #707071 !important;
    opacity: 1.0;
  }

  .formerize-placeholder {
    color: #707071 !important;
    opacity: 1.0;
  }

  /* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #36383c;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300;
    height: 3.05556em;
    letter-spacing: 0.1em;
    line-height: 3.05556em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    box-shadow: inset 0 0 0 2px #34a58e;
    color: #34a58e !important;
  }

  input[type="submit"]:hover:active,
  input[type="reset"]:hover:active,
  input[type="button"]:hover:active,
  button:hover:active,
  .button:hover:active {
    background-color: rgba(52, 165, 142, 0.15);
    color: #34a58e !important;
  }

  input[type="submit"].icon,
  input[type="reset"].icon,
  input[type="button"].icon,
  button.icon,
  .button.icon {
    padding-left: 1.35em;
  }

  input[type="submit"].icon:before,
  input[type="reset"].icon:before,
  input[type="button"].icon:before,
  button.icon:before,
  .button.icon:before {
    margin-right: 0.5em;
  }

  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
  }

  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.8em;
  }

  input[type="submit"].big,
  input[type="reset"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 1.35em;
  }

  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #34a58e;
    box-shadow: none;
  }

  input[type="submit"].special:hover,
  input[type="reset"].special:hover,
  input[type="button"].special:hover,
  button.special:hover,
  .button.special:hover {
    background-color: #47c5ab;
    color: #ffffff !important;
  }

  input[type="submit"].special:hover:active,
  input[type="reset"].special:hover:active,
  input[type="button"].special:hover:active,
  button.special:hover:active,
  .button.special:hover:active {
    background-color: #287e6d;
  }

  input[type="submit"].disabled,
  input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.35;
  }
}
