@keyframes slideInFromLeft {
  0% {
      transform: translateX(-12%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
      transform: translateX(12%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideInFromCenter {
  0% {
      transform: scale(0.85);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.city-page {
  margin-top: -100px;
  z-index: 1;
}

.gallery-body {
  background: #333;
}

.header-img-container {
  height: 400px;
  padding-top: 25px;
  position: relative;

  .header-img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    max-height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .header-label {
    color: white;
    font-family: "satisfy", sans-serif;
    font-size: 36px;
    text-align: center;
    top: calc(50% - 50px);
    width: 102%;
    z-index: 1;

    a {
      color: white;
      opacity: 0.65;
      font-size: 25px;

      &:hover {
        text-decoration: none;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
    }

    .page-title {
      margin: 0 20px;
    }
  }
}

.header-img-container:after {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, #333 98%); /* FF3.6+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, #333 95%); /* IE10+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, #333 95%); /* Opera 11.10+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,rgba(0, 0, 0, 0.15))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, #333 95%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, #333 95%); /* W3C */
  content: '';
  display: inline-block;
  height: 102%;
  left: 0; top: 0;
  position: absolute;
  width: 100%;
}

.gallery-page-wrapper {
  padding: 0 250px;
  margin: 0 auto;
}

.gallery-container {
  display: inline-grid;
  grid-template-columns: 33% 34% 33%;
  width: 100%;
}

.gallery-column {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

.photo-container {
  background: white;
  border-radius: 5px;
  margin: 5px;
}

.photo-container-left {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.photo-container-right {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.photo-container-center {
  animation: 0.5s ease-out 0s 1 slideInFromCenter;
}

.photo {
  -webkit-transition: .3s ease-in;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  width: 100%;

  &:hover {
    -webkit-transition: .3s ease-in-out;
    opacity: 0.85;
    transition: .3s ease-in-out;
  }
}
