.default.page-content {
  background-color: #333;
}

.cities-title {
  color: white;
  display: block;
  font-family: "satisfy", sans-serif;
  font-size: 36px;
  margin: 20px 0;
  text-align: center;
}

.cities-index {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .city {
    background: black;
    flex-shrink: 0;
    justify-self: center;
    margin: 0 15px 0 0px;
    overflow: hidden;
    position: relative;
    width: 165px;

    &:visited {
      color: transparent;
    }
  }

  img {
    -webkit-transition: .3s ease-in-out;
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
    transition: .3s ease-in-out;

    &:hover {
      opacity: 0.5;
      transform: scale(1.15);
    }
  }

  .title {
    color: white;
    position: absolute;
    font-family: "satisfy", sans-serif;
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  .medium {
    font-size: 32px;
  }
}

.cities-index::-webkit-scrollbar-thumb {
  background: transparent;
}

.cities-index::-webkit-scrollbar-track {
  background: transparent;
}
