#header {
  background: white;
  top: 0;
  left: 0;
  padding: 0 48px;
  position: fixed;
  user-select: none;
  width: calc(100% - 96px);
  z-index: 5;
  height: 2.75em;
  text-align: center;

  #menu {
    color: #276fa2;
    cursor: pointer;
    display: block;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
  }

  #user {
    color: #276fa2;
    cursor: pointer;
    display: block;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
  }

  .sgae {
    line-height: 2.75em;
    color: #276fa2;
    font-weight: 700;
    margin-right: 25px;

    &:hover {
      text-decoration: none;
    }
  }
}

.dropdown {
  position: fixed;
  right: 48px;
  background: white;
  color: #333;
  top: 2.5em;
  padding: 15px;
  z-index: 5;
  display: none;

  &.active {
    display: block
  }

  .name {
    display: block;
    text-align: end;
    border-bottom: 1px solid #333;
    margin-bottom: 13px;
  }

  .btn a {
    color: #333;
    cursor: pointer;
  }
}

.sidebar {
  -moz-transform: translateX(-25em);
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transform: translateX(-25em);
  -ms-transition: -ms-transform 0.5s ease;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-25em);
  -webkit-transition: -webkit-transform 0.5s ease;
  background: white;
  bottom: 2em;
  color: #333;
  left: 0;
  overflow-y: auto;
  position: fixed;
  transform: translateX(-25em);
  transition: transform 0.5s ease;
  z-index: 4;
  top: -1px;
  width: 335px;
  padding-top: 2.75em;

  .menu-options {
    padding-top: 12px;
  }

  .option {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 200;
    padding: 0 48px;
    cursor: pointer;
    white-space: pre;
    color: #333;
    display: block;

    &:before {
      margin-right: 0.75em;
    }

    &:hover {
      color: #276fa2;
      background: #efefef;
      text-decoration: none;
    }
  }
}

.sidebar.active {
  -moz-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
