.default.page-content {
  background-color: #efefef;
}

.main-title {
  color: white;
  font-size: 25px;
  background: #296da2;
  margin-bottom: 32px;
  display: inline-block;
  padding: 0px 8px;
  border-radius: 4px;
  font-size: 18px;
}
