.page {
  margin-top: 2.75em;
  z-index: 1;
}

.page-body {
  background: #efefef;
}

.page-content {
  padding: 2em 48px 5em 48px;
}

.control-number {
  margin-bottom: 32px;
  color: #333;

  input {
    margin-left: 5px;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;

  .tab {
    width: 100%;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    padding: 5px 0;
    color: #333;
  }

  .tab.active {
    background: #286ea2;
    color: white;
  }
}

.table.inactive {
  display: none;
}

.table {
  border-radius: 3px;
  color: #333;
  font-size: 14px;

  .headers {
    background: #276fa2;
    color: white;
    padding: 3px 0;
  }

  .row {
    border-right: 1px solid #adadad;
    border-left: 1px solid #adadad;
    padding: 2px 0;

    &:last-child {
      border-bottom: 1px solid #adadad;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .alternate-color {
    background: white;
  }

  .headers, .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header, .cell {
      display: inline;
      padding-right: 5px;
      width: 100%;
      text-align: center;

      &:last-child {
        border: none;
      }
    }

    .cell {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        color: inherit;
        cursor: pointer;
      }
    }

    .icon {
      font-size: 32px;
      cursor: pointer;

      &.fa-eraser {
        color: #cc1919;
        font-size: 24px;
      }
    }
  }
}
