<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body class="page-body">

    <section id="page" class="page">
      <main class="page-content" aria-label="Content">
        <span class="main-title">Calendarios e Inscripciones</span>

        <div class="calendar">
          <div class="tabs">
            <div class="tab active" onclick="toggleTableTab(event)">Exámenes y Parciales</div>
            <div class="tab inactive" onclick="toggleTableTab(event)">Cursos, Pasantias, Seminarios y Trabajos</div>
          </div>
          <div class="table active">
            <div class="headers">
              <div class="header">Código</div>
              <div class="header">Materia</div>
              <div class="header">Tipo de Instancia</div>
              <div class="header">Fecha y hora</div>
              <div class="header">Período</div>
              <div class="header">Inicio/Fin</div>
              <div class="header">Inscribirse/Desistir</div>
              <div class="header">Más Datos</div>
            </div>
            <div class="row">
              <div class="cell">FING - 1152</div>
              <div class="cell">FISICA 2</div>
              <div class="cell">Examen</div>
              <div class="cell">11/07/2020 - 10:00</div>
              <div class="cell">PARCIALES PRESENCIALES 1ER SEMESTRE 2020 - EXTRAORDINARIO</div>
              <div class="cell">22/06/2020 - 05/07/2020</div>
              <div class="cell"><span class="menu icon fa-eraser"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">FING - 5916</div>
              <div class="cell">FUNDAMENTOS DE SEGURIDAD INFORMATICA</div>
              <div class="cell">Examen</div>
              <div class="cell">16/07/2020 - 17:30</div>
              <div class="cell">PARCIALES PRESENCIALES 1ER SEMESTRE 2020 - EXTRAORDINARIO 37</div>
              <div class="cell">22/06/2020 - 08/07/2020</div>
              <div class="cell"><span class="menu icon fa-eraser"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">FING - 1030</div>
              <div class="cell">GEOMETRIA Y ALGEBRA LINEAL 1</div>
              <div class="cell">Examen</div>
              <div class="cell">23/07/2020 - 10:00</div>
              <div class="cell">PARCIALES PRESENCIALES 1ER SEMESTRE 2020 - EXTRAORDINARIO 755</div>
              <div class="cell">22/06/2020 - 15/07/2020</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">FING - 1027</div>
              <div class="cell">LOGICA</div>
              <div class="cell">Examen</div>
              <div class="cell">20/07/2020 - 10:00</div>
              <div class="cell">PARCIALES PRESENCIALES 1ER SEMESTRE 2020 - EXTRAORDINARIO 301</div>
              <div class="cell">22/06/2020 - 12/07/2020</div>
              <div class="cell"><span class="menu icon fa-eraser"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">FING - 1354</div>
              <div class="cell">PROGRAMACION FUNCIONAL</div>
              <div class="cell">Examen</div>
              <div class="cell">17/07/2020 - 17:30</div>
              <div class="cell">PARCIALES PRESENCIALES 1ER SEMESTRE 2020 - EXTRAORDINARIO 128</div>
              <div class="cell">22/06/2020 - 09/07/2020</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">FING - 1322</div>
              <div class="cell">PROGRAMACION 2</div>
              <div class="cell">Exámen</div>
              <div class="cell">21/07/2020 - 17:30</div>
              <div class="cell">PARCIALES PRESENCIALES 1ER SEMESTRE 2020 - EXTRAORDINARIO 91</div>
              <div class="cell">22/06/2020 - 13/07/2020</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
          </div>

          <div class="table inactive">
            <div class="headers">
              <div class="header">Código</div>
              <div class="header">Materia</div>
              <div class="header">Tipo de Instancia</div>
              <div class="header">Período</div>
              <div class="header">Inscriptos/Cupo</div>
              <div class="header">Inicio/Fin</div>
              <div class="header">Inscribirse/Desistir</div>
              <div class="header">Más Datos</div>
            </div>
            <div class="row">
              <div class="cell">FING - 1944</div>
              <div class="cell">ADMINISTRACION GENERAL PARA INGENIEROS</div>
              <div class="cell">Curso</div>
              <div class="cell">202002</div>
              <div class="cell">383/--</div>
              <div class="cell">17/08/2020 - 22/08/2020</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">FING - 1944</div>
              <div class="cell">GESTION DE CALIDAD</div>
              <div class="cell">Curso</div>
              <div class="cell">202002</div>
              <div class="cell">38/40</div>
              <div class="cell">13/07/2020 - 23/08/2020</div>
              <div class="cell"><span class="menu icon fa-eraser"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">FING - 5914</div>
              <div class="cell">5914 ALGEBRA LINEAL NUMERICA</div>
              <div class="cell">Curso</div>
              <div class="cell">201902</div>
              <div class="cell">23/--</div>
              <div class="cell">15/07/2019 - 18/08/2019</div>
              <div class="cell"><span class="menu icon fa-eraser"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">FING - 1944</div>
              <div class="cell">MATEMATICA DISCRETA 1</div>
              <div class="cell">Curso</div>
              <div class="cell">201902</div>
              <div class="cell">285/--</div>
              <div class="cell">02/07/2019 - 02/08/2019</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">FING - 1033</div>
              <div class="cell">METODOS NUMERICOS</div>
              <div class="cell">Curso</div>
              <div class="cell">201902</div>
              <div class="cell">145/--</div>
              <div class="cell">11/02/2019  11/03/2019</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">FING - 1324</div>
              <div class="cell">PROGRAMACION 4</div>
              <div class="cell">Curso</div>
              <div class="cell">201902</div>
              <div class="cell">261/--</div>
              <div class="cell">14/02/2019  16/03/2019</div>
              <div class="cell"><span class="menu icon fa-pencil-square-o"></span></div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
          </div>
        </div>
      </main>
    </section>

    {% include footer.html %}
  </body>

  {% include gallery_modal.html %}

</html>
