<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body class="gallery-body">

    {% if page.collection %}
        {% assign links = site[page.collection]  %}
    {% endif %}

    {% for link in links %}
      {% if link.title == page.title %}
        {% unless forloop.first %}
          {% assign prev = tmpprev %}
        {% endunless %}
        {% unless forloop.last %}
          {% assign next = links[forloop.index] %}
        {% endunless %}
      {% endif %}
      {% assign tmpprev = link %}
    {% endfor %}

    <div class="header-img-container">
      <img class="header-img" style="object-position: 0 {{ page.position }}" src="/images/thumb/{{ page.headerImagePath }}"/>
      <div class="header-label center">
        {% if prev %}<a href="{{ prev.url }}" class="icon fa-chevron-left"></a>{% endif %}
        <span class="page-title">{{ page.title }}</span>
        {% if next %}<a href="{{ next.url }}" class="icon fa-chevron-right"></a>{% endif %}
      </div>
    </div>

    <section id="city-page" class="city-page">
      <main class="page-content" aria-label="Content">
        <div class="gallery-page-wrapper">
          <article class="city">
            <div class="gallery-container">
              {{ content }}

              {% include gallery.html %}
            </div>
          </article>
        </div>
      </main>
    </section>

    {% include footer.html %}
  </body>

  {% include gallery_modal.html %}

</html>
