<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body class="page-body">

    <section id="page" class="page">
      <main class="page-content" aria-label="Content">
        <span class="main-title">Consulta de Inscripciones</span>

        <div class="control-number">
          <span>Número de control (opcional): </span>
          <input type="text" name="name" id="name" placeholder="Número de control"/>
        </div>

        <div class="calendar">
          <div class="tabs">
            <div class="tab active" onclick="toggleTableTab(event)">Exámenes y Parciales</div>
            <div class="tab inactive" onclick="toggleTableTab(event)">Cursos, Pasantias, Seminarios y Trabajos</div>
          </div>

          <div class="table active">
            <div class="headers">
              <div class="header">Código</div>
              <div class="header">Materia</div>
              <div class="header">Número de Control</div>
              <div class="header">Acción</div>
              <div class="header">Tipo de Instancia</div>
              <div class="header">Fecha</div>
              <div class="header">Más Datos</div>
            </div>
            <div class="row">
              <div class="cell">1224</div>
              <div class="cell">ECONOMIA</div>
              <div class="cell">1274725</div>
              <div class="cell">Alta</div>
              <div class="cell">Exámen</div>
              <div class="cell">27/11/2019</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">1446</div>
              <div class="cell">REDES DE COMPUTADORAS</div>
              <div class="cell">1342657</div>
              <div class="cell">Alta</div>
              <div class="cell">Exámen</div>
              <div class="cell">03/01/2020</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">1224</div>
              <div class="cell">ECONOMIA</div>
              <div class="cell">1274725</div>
              <div class="cell">Alta</div>
              <div class="cell">Exámen</div>
              <div class="cell">11/06/2019</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">1537</div>
              <div class="cell">SISTEMAS OPERATIVOS</div>
              <div class="cell">142162</div>
              <div class="cell">Alta</div>
              <div class="cell">Exámen</div>
              <div class="cell">14/07/2017</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">1765</div>
              <div class="cell">CÁLCULO 2</div>
              <div class="cell">1875300</div>
              <div class="cell">Baja</div>
              <div class="cell">Exámen</div>
              <div class="cell">14/07/2017</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">1765</div>
              <div class="cell">CÁLCULO 2</div>
              <div class="cell">1875300</div>
              <div class="cell">Alta</div>
              <div class="cell">Exámen</div>
              <div class="cell">12/07/2017</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
          </div>

          <div class="table inactive">
            <div class="headers">
              <div class="header">Código</div>
              <div class="header">Materia</div>
              <div class="header">Número de Control</div>
              <div class="header">Acción</div>
              <div class="header">Tipo de Instancia</div>
              <div class="header">Fecha</div>
              <div class="header">Más Datos</div>
            </div>
            <div class="row">
              <div class="cell">1779</div>
              <div class="cell">INVESTIGACION DE OPER.Y GEST. DE RIESGOS</div>
              <div class="cell">1929897</div>
              <div class="cell">Alta</div>
              <div class="cell">Curso</div>
              <div class="cell">21/06/2019</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">1224</div>
              <div class="cell">ECONOMIA</div>
              <div class="cell">1770397</div>
              <div class="cell">Alta</div>
              <div class="cell">Curso</div>
              <div class="cell">19/06/2019</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">1942</div>
              <div class="cell">FUNDAMENTOS DE LA WEB SEMANTICA</div>
              <div class="cell">140111</div>
              <div class="cell">Alta</div>
              <div class="cell">Curso</div>
              <div class="cell">04/02/2019</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">1828</div>
              <div class="cell">INT. AL PROCESAMIENTO DE LENG. NATURAL</div>
              <div class="cell">136690</div>
              <div class="cell">Alta</div>
              <div class="cell">Curso</div>
              <div class="cell">04/02/2019</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row">
              <div class="cell">1543</div>
              <div class="cell">INT. AL NEGOCIO DEL SOFTWARE</div>
              <div class="cell">119178</div>
              <div class="cell">Alta</div>
              <div class="cell">Curso</div>
              <div class="cell">19/06/2018</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
            <div class="row alternate-color">
              <div class="cell">1933</div>
              <div class="cell">TEC.AVANZ.PARA LA GEST.DE SIST.DE INF.</div>
              <div class="cell">122564</div>
              <div class="cell">Alta</div>
              <div class="cell">Curso</div>
              <div class="cell">29/06/2018</div>
              <div class="cell"><a>Ver Más</a></div>
            </div>
          </div>
        </div>
      </main>
    </section>

    {% include footer.html %}
  </body>

  {% include gallery_modal.html %}

</html>
